.for-outer-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;
}
.for-inner {
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.for-header {
  font-family: 'Roboto';
  color: #0f172a;
  font-weight: bold;
}
.for-para {
  font-family: 'Roboto';
  color: #334155;
  font-size: 20px;
}
.for-button {
  font-family: 'Roboto';
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-width: 0px;
  color: #1e293b;
  cursor: pointer;
}
.for-second-para {
  font-family: 'Roboto';
  font-size: 15px;
  color: #334155;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .for-outer-container {
    align-items: center;
  }
  .for-inner {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .for-header {
    font-size: 44px;
  }
  .for-para {
    font-size: 30px;
  }
  .for-button {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
  }
}
